<mat-drawer-container>
  <mat-drawer #drawer mode="over" position="end" [disableClose]="true">
    <app-links-editor
      (cancel)="drawer.close()"
      *ngIf="drawer.opened"
    ></app-links-editor>
  </mat-drawer>

  <mat-drawer-content>
    <main>
      <div links>
        <h1>Links</h1>
        <pre>{{ linksService.links | json }}</pre>
      </div>

      <button mat-fab (click)="openEditor()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
